body {
    background: url("Screenshot_81.jpg"); /* вставка картинки */
    background-size: 80%; /* размер фонового изображения. */
    font-family: "Roboto", "Arial", sans-serif; /* шрифт текста */
}



/* Верхняя шапка */

.header img {
    margin: 0 auto; /*определяет внешний отступ на всех четырёх сторонах элемента.*/
    display: block; /*определяет, как элемент должен быть показан в документе.*/
    height: 100px; /*ширина*/
    width: 150px; /*высота*/
    
    
}

.header {
    background-color: rgb(212, 241, 255); /* Определяет цвет фона элемента.*/
    position: relative; /*используется для переопределения других значений */
    border-radius: 25px; /*закругление угла*/
    
    
}

.header p {
    font-size: 50px; /*определяет размер шрифта.*/
    text-align: center; /*текст по центру*/
    padding-bottom: 10px; /* устанавливает значение поля от нижнего края содержимого элемента.*/
    
}

/* Основное содержание */

#left { 
    margin-top: 10px; /*определяет внешний отступ в верхней части элемента. */
    position: absolute; /*css position указывает, как элемент позиционируется в документе.*/
    left: 5px;; /*указывает направление смещения позиционированного элемента от левого края.*/
     width:75%; /*ширина элемента*/
     border: 5px solid rgb(65, 46, 46); /*толщина элемента*/
     padding: 5px; /* устанавливает внутренние отступы со всех сторон элемента.*/
     border-radius: 15px; /*закругление элемента*/
     background-color: rgb(168, 155, 148);/* Определяет цвет фона элемента.*/
     color: white; /*описывает значения, которые позволяют авторам определять цвета*/
     opacity: 80%; /*устанавливает непрозрачность элемента*/
     font-size: 20px; /* определяет размер шрифта*/
}
           
#right { 
    margin-top: 10px;  /*определяет внешний отступ в верхней части элемента. */
    position: absolute; /*css position указывает, как элемент позиционируется в документе.*/
    right: 5px; /*указывает направление смещения позиционированного элемента от правового края.*/
    width: 20%;  /*ширина элемента*/
    padding: 5px;/* устанавливает внутренние отступы со всех сторон элемента.*/
    border: 5px solid rgb(201, 172, 172); /*цвет границы элемента*/
    border-radius: 15px; /*закругление элемента*/
    background-color: rgb(192, 65, 65); /* Определяет цвет фона элемента.*/
    color: white; /*описывает значения, которые позволяют авторам определять цвета*/
    opacity: 80%; /*устанавливает непрозрачность элемента*/


}

#right p { 
    text-align: center; /*текст по центру*/
    background-color: black;/* Определяет цвет фона элемента.*/
    border-radius: 50px;/*закругление элемента*/
    width: 300px;/*ширина элемента*/
    margin: 0 auto; /*определяет внешний отступ на всех четырёх сторонах элемента.*/
    margin-top: 10px;/*определяет внешний отступ в верхней части элемента. */
    margin-bottom: 10px;/*устанавливает внешний отступ внизу элемента.*/
    font-size: 26px;/* определяет размер шрифта*/
}

#right p:hover {
    background-color: red;/* Определяет цвет фона элемента.*/
}

#right h1 {
    text-align: center;/*текст по центру*/
}

.content {
    position: relative;/*Относительное позиционирование сдвигает элемент*/
}




/* Подвал  */
footer {
    background-color: rgb(70, 70, 70);/* Определяет цвет фона элемента.*/
    margin-top: 40%;/*определяет внешний отступ в верхней части элемента. */
    height: 30px;/*ширина элемента*/
    text-align: center;/*текст по центру*/
    padding: 10px;/*устанавливает внутренние отступы со всех сторон элемента.*/
    color: white;/*описывает значения, которые позволяют авторам определять цвета*/
    border-radius: 5px solid black;/*закругление элемента*/
    opacity: 80%;/*устанавливает непрозрачность элемента*/
    
}